@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the scrollbar */
.overflow-x-scroll::-webkit-scrollbar {
    @apply w-[0em];
}

.overflow-y-scroll::-webkit-scrollbar {
    @apply w-[0em];
}

/* About us section animation */
.transition-about-us {
    transition: 300ms;
    transform: translateY(0);
}

html.is-animating .transition-about-us {
    transform: translateY(100%);
}

#navbar ul a:hover {
    background-color: #ffffff;
    color: #000000;
}